@CHARSET "UTF-8";

* {
	margin: 0px;   /*外边距*/
	padding: 0px;  /*内边距*/
}

html, body {
	height: 200%;
	width: 100%;
	font-size: 20px;
	display: block;
	overflow-y: auto;
	background-color: #000000;

	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;

    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 26%, #f5f5f5 59%, #f5f5f5 77%, #cecece 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%,#ffffff), color-stop(26%,#ffffff), color-stop(59%,#f5f5f5), color-stop(77%,#f5f5f5), color-stop(100%,#cecece));
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 26%,#f5f5f5 59%,#f5f5f5 77%,#cecece 100%);
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 26%,#f5f5f5 59%,#f5f5f5 77%,#cecece 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 26%,#f5f5f5 59%,#f5f5f5 77%,#cecece 100%);
    background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 26%,#f5f5f5 59%,#f5f5f5 77%,#cecece 100%);
    font-family: 'Days One', sans-serif;	
}

body {
	background-image: url(../images/slide_bg.png);
	background-repeat: repeat;
	z-index: 1;
}

a {

    -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -ms-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -o-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

    text-decoration: none;
}


/* List styles */

.list {

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    text-transform: uppercase; /* 全部转换成大写 */
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    height: 300px;
    width: 300px;
}

.list a {
    
    display: block;
    
}

.list_top {

	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
    
    line-height: 50px;
    background: #E0FBAC;
    margin: 0;
    height: 50px;
    width: 200px;
    color: #fff;

    -webkit-transform: translateZ(0.3px);
    -moz-transform: translateZ(0.3px);
    -ms-transform: translateZ(0.3px);
    -o-transform: translateZ(0.3px);
    transform: translateZ(0.3px);

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 30px;

	} 

.list dd {

    text-indent: 10px;
    background: #E0FBAC;
    margin: 0;   
    width: 200px;
    color: #fff;
    line-height: 30px;
    font-size: 20px;
    height: 30px;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* Put your WebKit(Chrome) specific code here. */
  	.list dd {
	    border-top-width: 3px;
	    border-top-style: dashed;
	    border-top-color: rgba(255,255,255,0.3);
	}

	.list {
		height: 300px;
		width: 300px;
	}

	.list a:hover {
    
    text-indent: 20px;

	}
}

@-moz-document url-prefix() {
  /* Put your Firefox specific code here. */
  	.list dd {
	    
	    border-top-width: 3px;
    	border-top-color: rgba(255,255,255,0.3);
	}

	.list {
		height: 200px;
		width: 200px;
	}

	.catalog a:hover {
    
    text-indent: 20px;

	}
} 

/* UI */

.toggle {
  
    -webkit-transform: translateZ(100px);
    -moz-transform: translateZ(100px);
    -ms-transform: translateZ(100px);
    -o-transform: translateZ(100px);
    transform: translateZ(100px);

    box-shadow: 3px 6px 2px rgba(0,0,0,0.3);
    border-radius: 8px;
    line-height: 25px;
    background: #6495ED;
    font-size: 16px;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0; 
    height: 25px;   
    width: 40px;
    color: #fff; 
}

.toggle:hover {
    
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
}

.catalog_words {
	font-size: 30px;
	font-weight: bold;
	color: #000080;
}

.catalog dt, .catalog dd, .catalog a { background: 	#33ff33; font-size: 18px; color: #000000; }

.catalog a:hover { background: #C1FFC1; }

.catalog {

    -webkit-transform: perspective(1200px) rotateY(40deg) !important;
    -moz-transform: perspective(1200px) rotateY(40deg) !important;
    -ms-transform: perspective(1200px) rotateY(40deg) !important;
    -o-transform: perspective(1200px) rotateY(40deg) !important;
    transform: perspective(1200px) rotateY(40deg) !important;

    -webkit-transform-origin: 110% 25%;
    -moz-transform-origin: 110% 25%;
    -ms-transform-origin: 110% 25%;
    -o-transform-origin: 110% 25%;
    transform-origin: 110% 25%;

    z-index: 100;

}

.tagsCloud {

	width: 360px;
	height: 360px;
	
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 18px;
}

.auto_print {

	width: 680px;
	height: 480px;
	z-index: 100;
}

li {

	list-style-type: none;
}

.bottom_link {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 100;
	width: 140px;
	height: 0px;   
	border:30px solid transparent;  /*	transparent: 默认值。边框颜色为透明。*/   
	border-bottom-color:#fff;
}

.bottom_link:hover {
	
	border:30px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.6);
}

.star_me {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: -125px;
	right: 0;
	margin: auto;
	z-index: 100;
	width: 75px;
	height: 0px;   
	border:30px solid transparent;  /*	transparent: 默认值。边框颜色为透明。*/   
	border-bottom-color: #E0FFFF;
}


.share_me {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 125px;
	right: 0;
	margin: auto;
	z-index: 100;
	width: 75px;
	height: 0px;   
	border:30px solid transparent;  /*	transparent: 默认值。边框颜色为透明。*/   
	border-bottom-color: #E0FFFF;

}

.submit {
	width: 75px;
	background-color: #1E90FF;
	border-radius: 8px;
	color: #fff;
}

.submit:hover {
	background-color: #00FFFF;
}

@media screen and (max-width: 840px) {
	
	.auto_print {
		float: left;
		position: absolute;
		top: 0;
		left: -13%;
		right: 0;	
		margin: auto;
	}
	
	.tagsCloud {
		float: left;
		position: absolute; /*固定，不随滚动条滚动*/
		top: 550px;
		right: 10%;
		margin: auto;

	}

	.catalog {
		float: left;
		position: absolute; /*固定，不随滚动条滚动*/
		top: 550px;
		left: 8%;
		margin: auto;
	}

	.code-editor {
		width: 40rem;
  		height: 20rem;
	}


}

@media screen and (min-width: 841px) {
	.auto_print {
		float: left;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;	
		margin: auto;
	}
	
	.tagsCloud {
		float: left;
		position: absolute; /*固定，不随滚动条滚动*/
		top: 550px;
		right: 15%;
		margin: auto;
	}

	.catalog {
		float: left;
		position: absolute; /*固定，不随滚动条滚动*/
		top: 550px;
		left: 10%;
		margin: auto;
	}

	.code-editor {
		width: 35rem;
  		height: 20rem;
	}
}

@media screen and (min-width: 1024px) {
	.auto_print {
		float: left;
		position: absolute;
		top: 0;
		left: -10%;
		right: 0;	
		margin: auto;
	}
	
	.tagsCloud {
		float: left;
		position: absolute; /*固定，不随滚动条滚动*/
		top: 550px;
		right: 15%;
		margin: auto;
	}

	.catalog {
		float: left;
		position: absolute; /*固定，不随滚动条滚动*/
		top: 550px;
		left: 10%;
		margin: auto;
	}

	.code-editor {
		width: 40rem;
  		height: 20rem;
	}
}


@media screen and (min-width: 1200px) {
	.auto_print {
		float: left;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;	
		margin: auto;
	}
	
	.tagsCloud {
		float: left;
		position: absolute; /*固定，不随滚动条滚动*/
		top: 550px;
		right: 25%;
		margin: auto;
	}

	.catalog {
		float: left;
		position: absolute; /*固定，不随滚动条滚动*/
		top: 550px;
		left: 25%;
		margin: auto;
	}

	.code-editor {
		width: 36rem;
  		height: 20rem;
	}
}	

@media screen and (min-width: 1448px) {
	.auto_print {
		float: left;
		position: absolute;
		top: 0;
		left: -10%;
		right: 0;	
		margin: auto;
	}
	
	.tagsCloud {
		float: left;
		position: absolute; /*固定，不随滚动条滚动*/
		top: 45px;
		right: 6%;
		margin: auto;
	}

	.catalog {
		float: left;
		left: 5%;
    	top: 50px;
	}

	.code-editor {
		width: 34rem;
  		height: 20rem;
	}
}





