@CHARSET "UTF-8";

* {
	margin: 0px;   /*外边距*/
	padding: 0px;  /*内边距*/
}

html, body {
	height: 8000px;
	width: 100%;
	font-size: 16px;
	font-family: arial, sans-serif;
	display: block;
	overflow-y: auto;
	background-color: #000000;

	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;

    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 26%, #f5f5f5 59%, #f5f5f5 77%, #cecece 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%,#ffffff), color-stop(26%,#ffffff), color-stop(59%,#f5f5f5), color-stop(77%,#f5f5f5), color-stop(100%,#cecece));
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 26%,#f5f5f5 59%,#f5f5f5 77%,#cecece 100%);
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 26%,#f5f5f5 59%,#f5f5f5 77%,#cecece 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 26%,#f5f5f5 59%,#f5f5f5 77%,#cecece 100%);
    background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 26%,#f5f5f5 59%,#f5f5f5 77%,#cecece 100%);
}

body {
	background-image: url(../images/slide_bg.png);
	background-repeat: repeat;
	z-index: 1;
}

a {

    -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -ms-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -o-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

    text-decoration: none;
}

i {
	color: #fff700;
	line-height: 50px;
}

h1 {

	text-align: center;
	text-decoration: underline;
	color: #f1c232;
	font-size: 36px;
}

span { /*用这个css属性才解决autoPrinter的问题啊醉了*/

	font-family: "Times new Roman";

}

iframe {
	position: fixed;	
	width: 100%;
	height: 100%;	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 99;
}


.header ol{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

.header ol li {

	width: 100px;
	list-style-type: none;
	line-height: 30px;
}

.header ol span {
	width: 100%;
	line-height: 40px;
}

.header {
	position: absolute;
	height: 130px;
	width: 85%;
	z-index: 101;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	background-color: #33ff33;
	font-family: "Times new Roman";
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	box-shadow: 0px 0px 6px 6px #fff;
}

.header a {
	color: blue;
}

.header a:hover {
	color: #00ffff;
}

.TextSection {
	height: 7080px;
	background-color: rgba(255,255,255, 0.36);
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	box-shadow: 0 0 50px 20px #00ff14; /*制造div盒子box的阴影； 0\0 ：分别是水平垂直阴影的位置； 50px: 阴影的模糊距离；20px: 阴影的尺寸*/
	border-radius: 10px 10px 0 0; /*制造圆角边*/
	z-index: 100;
}

.code1 {
	display: flex;	/*弹性布局*/
	flex-direction: column; /*排列方向*/
	flex-wrap: wrap; /*换行*/
	text-align: center;
	width: 80%;
	position: relative; 		
	/*相对位置是相对于其他
	position 属性值的含义：
	static
	元素框正常生成。块级元素生成一个矩形框，作为文档流的一部分，行内元素则会创建一个或多个行框，置于其父元素中。
	relative （保留原来的空间）
	元素框偏移某个距离。元素仍保持其未定位前的形状，它原本所占的空间仍保留。
	absolute（不保留原来的空间）
	元素框从文档流完全删除，并相对于其包含块定位。包含块可能是文档中的另一个元素或者是初始包含块。元素原先在正常文档流中所占的空间会关闭，就好像元素原来不存在一样。元素定位后生成一个块级框，而不论原来它在正常流中生成何种类型的框。
	fixed
	元素框的表现类似于将 position 设置为 absolute，不过其包含块是视窗本身。
	*/		
	left: 0;
	right: 0;
	margin: auto;
}

.code1 #title1 {
	position: absolute;
	left: 0;
	right: 0;
	top: 24px;
	margin: auto;
	width: 100%;
}

.code2 {
	width: 80%;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 60px;
	left: 0;
	right: 0;
	margin: auto;
}

.code2 #title2 {
	text-align: center;
	height: 24px;
	width: 100%;
	color: #fff;
	font-size: 20px;
}

.code2 a {
	height: 26px;
	color: #fff;
	font-size: 20px;
	border-bottom: solid 1px;
}

.code2 a:hover {
	color: #00FFFF;
}

.links {
	width: 100%;
	position: relative;
	top: 8px;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 101;
	box-shadow: 0px 0px 12px 6px #fff inset;
	border-radius: 6px;
	overflow-y: auto;
}



.hacker {
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(0, 255, 255, 0.2);	
	border-radius: 20px;
	border: 1px solid;
	width: 1000px;
}

.Geeker {
	color: #ffffb0;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(0, 255, 100, 0.2);
	border-radius: 20px;
	border: 1px solid;
}

.OS {
	color: #ffff40;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(200, 150, 0, 0.2);
	border-radius: 20px;
	border: 1px solid;
}

.PD {
	color: #ffff00;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(220, 250, 0, 0.2);
	border-radius: 20px;
	border: 1px solid;
}

.CP {
	color: #d8ecd1;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(91, 218, 51, 0.2);
	border-radius: 20px;
	border: 1px solid;
}
.NetProxy {
	color: #e7a7a7;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(150, 0, 0, 0.2);
	border-radius: 20px;
	border: 1px solid;
}

.Security {
	color: #eea6ee;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(0, 0, 100, 0.2);
	border-radius: 20px;
	border: 1px solid;
}

.google {
	color: #f7bec9;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(255, 7, 55, 0.2);
	border-radius: 20px;
	border: 1px solid;
}

.CL {
	color: #00ffff;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(0, 255, 255, 0.2);
	border-radius: 20px;
	border: 1px solid;
}

.WK {
	color: #f6dada;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(244, 204, 204, 0.2);
	border-radius: 20px;
	border: 1px solid;
}

.Mov {
	color: #5ff65f;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(255, 0, 255, 0.2);
	border-radius: 20px;
	border: 1px solid;
}

.GT {
	color: #72e8a9;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(153, 0, 255, 0.2);
	border-radius: 20px;
	border: 1px solid;
}

.MC {
	color: #ffaad1;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(229, 28, 120, 0.2);
	border-radius: 20px;
	border: 1px solid;
}

.NBA {
	color: #c1db99;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(255, 153, 0, 0.2);
	border-radius: 20px;
	border: 1px solid;
}

.WA {
	color: #f7b36b;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(230, 145, 56, 0.2);
	border-radius: 20px;
	border: 1px solid;
}

.else {
	color: #f7b0b0;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(152, 0, 0, 0.2);
	border-radius: 20px;
	border: 1px solid;
}

.footer {

	width: 100%;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 7700px;
	font-family: "Times new Roman";
	font-size: 32px;
	color: #00ffff;
	text-align: center;
	z-index: 99;
}

.copyright1 {
	font-size: 24px;
	color: #00ffff;
}

.bottom_link {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 100;
	width: 140px;
	height: 0px;   
	border:30px solid transparent;  /*	transparent: 默认值。边框颜色为透明。*/   
	border-bottom-color:#fff;
}

.bottom_link:hover {
	
	border:30px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.6);
}

.star_me {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: -125px;
	right: 0;
	margin: auto;
	z-index: 100;
	width: 75px;
	height: 0px;   
	border:30px solid transparent;  /*	transparent: 默认值。边框颜色为透明。*/   
	border-bottom-color: #E0FFFF;
}


.share_me {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 125px;
	right: 0;
	margin: auto;
	z-index: 100;
	width: 75px;
	height: 0px;   
	border:30px solid transparent;  /*	transparent: 默认值。边框颜色为透明。*/   
	border-bottom-color: #E0FFFF;

}

.submit {
	width: 75px;
	background-color: #1E90FF;
	border-radius: 8px;
	color: #fff;
}

.submit:hover {
	background-color: #00FFFF;
}

.gotoTop {
	z-index: 101; 
	background-color: rgba(0, 255, 255, 0.8); 
	width: 40px; 
	height: 90px; 
	box-shadow: 0 0 20px 6px rgb(0, 255, 0);
	border-radius: 6px; 
	font-size: 14px; 
	text-align: center; 
	color: #000; 
	font: bold;
}

.arrow_down {
	z-index: 102; 
	width: 48px; 
	height: 48px; 
	box-shadow: 0 0 6px 6px rgba(255, 255, 255, 0.88);
	border-radius: 30px;  
	text-align: center; 
	color: #000; 
	font: bold;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 35px;
	margin: auto;
}

/*右键点击功能皮肤*/
.skin {
    width : 200px;
    height: 300px;
    border : 3px solid green;
    padding : 10px;
    visibility : hidden;
    position : absolute;
    box-shadow: -10px 10px 10px #00ff00;
    color: #0000ff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 101;
}

hr {

  color:#0000ff ;

}

div.menuitems {
    margin : 1px 6px;
}
div.menuitems a {
	font-family: "Times new Roman";
    line-height: 35px;
    text-decoration : none;
    color: #00ffff;
    font-size: 20px;
    font-weight: bold;
}
div.menuitems:hover {
    box-shadow: -1px 1px 3px 3px #00ffff;
    text-indent: 12px;
    border-radius: 6px;
    background-color : rgba(255, 255, 255, 1);
}

/*滚动条*/
::-webkit-scrollbar{
  display:none;
}

@media screen and (max-width: 1080px) {
	
	.TextSection {
		top: 280px;
		width: 80%;
	}

	#WL0 {
		width: 100%;
		height: 2px;
		background-color: #fff;
		top: 730px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
	}

	#WL1 {
		width: 100%;
		height: 2px;
		background-color: #fff;
		top: 1580px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
	}

	span {
		font-size: 20px;
		word-spacing: 5px;
	}
}



@media screen and (min-width: 1081px) {

	.TextSection {
		top: 280px;
		width: 80%;
	}

	#WL0 {
		width: 100%;
		height: 2px;
		background-color: #fff;
		top: 730px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
	}

	#WL1 {
		width: 100%;
		height: 2px;
		background-color: #fff;
		top: 1580px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
	}

	span {
		font-size: 30px;
		word-spacing: 12px;
	}
}


@media screen and (min-width: 1200px) {

	.TextSection {
		top: 280px;
		width: 80%;
	}

	#WL0 {
		width: 100%;
		height: 2px;
		background-color: #fff;
		top: 730px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
	}

	#WL1 {
		width: 100%;
		height: 2px;
		background-color: #fff;
		top: 1580px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
	}

	span {
		font-size: 30px;
		word-spacing: 10px;
	}
}	

@media screen and (min-width: 1448px) {

	.TextSection {
		top: 280px;
		width: 85%;
	}

	#WL0 {
		width: 100%;
		height: 2px;
		background-color: #fff;
		top: 900px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
	}

	#WL1 {
		display: none;
	}

	span { /*用这个css属性才解决autoPrinter的问题啊醉了*/

		font-size: 22px;
		word-spacing: 5px;

	}
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* Put your WebKit(Chrome) specific code here. */

	}
}

@-moz-document url-prefix() {
  /* Put your Firefox specific code here. */

	}
} 





