@CHARSET "UTF-8";
* {
    padding: 0px;
    margin: 0px;
}

body
{
	background:#fff;
	color:#666;
	font-size:14px;
	font-family:"Microsoft YaHei", arial, tahoma; /*arial: 表示衬线*/
	overflow:hidden;
	position:relative;
	margin: 0;
	display: block;
}

html, body {
	display:block;
	background:#f9f9f9;
	height: 100%;
	width: 100%;
	font-family:Helvetica, sans-serif;
	-webkit-text-size-adjust:none;	
}

.main
{
	text-align: center;
	position: relative;
	overflow: hidden;
}

.header
{
	position:fixed;
	width:100%;
	top:20px;
	left:0px;
	z-index:99;	
}

.container {
    width: 100%;
    height: 100%;
	background-color:#fff;
}

.content
{
	width:100%;
	height:100%;
	margin:0 auto;	
}

.wrap
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto; /* 自动居中 */
	width:50%;
	height: 50%;
	background-color: rgba(0, 0, 0, 0.45);
	z-index: 99;
}

.welc {
	
	padding-top: 6%;
	font-size:40px;
	color:#00FFFF;
	font-family: "Times New Roman";
	font-weight:bold;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

}

/*解决客户端兼容以及桌面大小兼容问题*/

@media screen and (max-width: 784px) {
	.welc {
		font-size: 36px;
	}
}

@media screen and (max-height: 576px) {
	.welc {

		font-size: 30px;
	}

}

@media screen and (min-height: 1024px) {
	.welc {

		font-size: 46px;
	
	}

	.wrap {

		height: 38%;
	}	
}

.wrap a {
	text-decoration: none;
	float: left;
	text-align: center;
	cursor: pointer;
	border-radius: 8px;
	font-size: 45px;
	letter-spacing: 2px;
	height: 80px;
	width:200px;
	color: #ffffff;
	opacity: 1;	
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.button {
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 50%;
	z-index: 100; /*层叠属性*/
}

#enter {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 2.3em;
	/*text-transform: uppercase; // 字符全部转换成大写*/
	width: 40%;
	border-radius: 10px;
	color: white;
	text-shadow: -6px 6px 6px rgba(0,0,0,1); /*分别对应x y z轴*/
	border: 8px solid transparent;
	border-left-color: rgba(0,0,0,0.36);
	border-bottom-color: rgba(0,0,0,0.36);
	background: hsla(260, 100%, 50%, 1);
	cursor: pointer;

	animation: pulse 1s infinite alternate;
	transition: background 0.4s, border 0.2s, margin 0.2s;
}
#enter:hover {
	background: hsla(220, 100%, 60%, 1);
	
}

@keyframes pulse {
	0% {
		margin-top: 0px;
	}
	100% {
		margin-top: 6px; 
	} 
}


.backimg
{
	bottom:0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
}

.items, .item {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.item {
	background: #fff none no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: none;
}

.footer
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 98;
}

.wish {
	line-height:40px;
	font-size:40px;
	color: #FFA500;
	font-family: "Times New Roman";
    font-weight:bold;
}

.line
{
	width:50%;
	height:2px;
	background-color:white;
	/*start:使一个div块级区域居中*/
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin: auto;
	/*end*/
}

.line_0 {
	width:100%;
	height:1px;
	background-color:white;
	/*start:使一个div块级区域居中*/
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin: auto;
	/*end*/

}

.Copyright
{
	color:white;
	font-size: 20px;
	margin-top: 5px;

}

/* 以下是球类转动的部分*/

.earth_box
{
	/*控制装球盒子的宽度*/
	width: 50%;
	padding-top: 50%;
	
	z-index:1;
	
}

.earth_center /*不能使用.earth_box .earth_center: 因为这样只会是这整个居中而对使用earth_center的不起渲染作用，只选择了这一个DIV而已*/
{
	/*使装球的盒子居中，而且盒子div不会随着浏览器的放大而变化*/
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
		
}

.earth_big
{
	transform: rotate(360deg);
	width: 100%;
	padding-top: 100%;
	opacity: 1; /*设置图片的透明度，1表示不透明*/
}

.earth_small
{	
	transform: rotate(-360deg);
	width: 60%;
	padding-top: 60%;
	opacity: 0.8;
}

.earth /*球类通用*/
{
	background-image:url(../images/earth.png);
	
	/*下面两句话，是解决问题的关键，决定着球是否围绕着一个圆心转，特别重要，浪费了好多时间*/
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;	
	background-size: 100%;
	
	animation: earth 18S linear infinite;
}

@keyframes earth
{
	100% {
	transform: rotate(0);
	}
}

/*右键点击功能皮肤*/
.skin {
    width : 200px;
    height: 300px;
    border : 3px solid green;
    padding : 2px;
    visibility : hidden;
    position : absolute;
    box-shadow: -10px 10px 10px #00ff00;
    color: #0000ff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    text-align: left;
}

hr {

	color:#0000ff ;
}

div.menuitems {
    margin : 1px 6px;
}
div.menuitems a {
	font-family: "Times new Roman";
    line-height: 35px;
    text-decoration : none;
    color: #00ffff;
    font-size: 20px;
    font-weight: bold;
}
div.menuitems:hover {
    box-shadow: -1px 1px 3px 3px #00ffff;
    text-indent: 12px;
    border-radius: 6px;
    background-color : rgba(255, 255, 255, 1);
}

